<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Iron Beers</title>
</head>
<body>
    
    <nav class="navBar">
    <ul class="listStyle">
        <li> <a href="/"> Home </a> </li>
        <li> <a href="/beers"> Beers </a> </li>
        <li> <a href="/random-beer"> Random Beer </a></li>
    </ul>
   </nav>

    {{{ body }}}

    <footer> Developed with Love <3 (and persistence on the new topic ;-) by Elena R. @Iron Hack Week 4</footer>
</body>
</html>